<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rjgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.rjgames.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.rjgames.NewJodi"></activity>
        <activity android:name="com.rjgames.NewSingleDigit" />
        <activity android:name="com.rjgames.NewGameActivity" />
        <activity android:name="com.rjgames.ProfileActivity" />
        <activity android:name="com.rjgames.DemoActivity" />
        <activity android:name="com.rjgames.Withdraw_history" />
        <activity android:name="com.rjgames.MainActivity" />
        <activity android:name="com.rjgames.Starline_Activity" />
        <activity android:name="com.rjgames.Fund_RequestActivity" />
        <activity android:name="com.rjgames.FundsActivity" />
        <activity android:name="com.rjgames.BidActivity" />
        <activity android:name="com.rjgames.WithdrawalActivity" />
        <activity android:name="com.rjgames.RequestActivity" />
        <activity android:name="com.rjgames.UploadScreenshotActivity" />
        <activity android:name="com.rjgames.CyclePana" />
        <activity android:name="com.rjgames.VerificationActivity" />
        <activity android:name="com.rjgames.UpdatePasswordActivity" />
        <activity
            android:name="com.rjgames.TriplePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="com.rjgames.DoublePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="com.rjgames.FullSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="com.rjgames.HalfSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="com.rjgames.SinglePannaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity android:name="com.rjgames.RegisterActivity" />
        <activity android:name="com.rjgames.DrawerNoticeBoardActivity" />
        <activity android:name="com.rjgames.DrawerGameRates" />
        <activity android:name="com.rjgames.DrawerHowToPlayActivity" />
        <activity android:name="com.rjgames.DrawerProfileActivity" />
        <activity android:name="com.rjgames.NotificationActivity" />
        <activity android:name="com.rjgames.PlayGameActivity" />
        <activity
            android:name="com.rjgames.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.rjgames.splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.rjgames.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.rjgames.NetworkStateChangeReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />
        <service
            android:name="com.rjgames.utils.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>