<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.games.rdgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".NewJodi"></activity>
        <activity android:name=".NewSingleDigit" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".Withdraw_history" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Starline_Activity" />
        <activity android:name=".Fund_RequestActivity" />
        <activity android:name=".FundsActivity" />
        <activity android:name=".BidActivity" />
        <activity android:name=".WithdrawalActivity" />
        <activity android:name=".RequestActivity" />
        <activity android:name=".UploadScreenshotActivity" />
        <activity android:name=".CyclePana" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".UpdatePasswordActivity" />
        <activity
            android:name=".TriplePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name=".DoublePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name=".FullSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name=".HalfSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name=".SinglePannaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DrawerNoticeBoardActivity" />
        <activity android:name=".DrawerGameRates" />
        <activity android:name=".DrawerHowToPlayActivity" />
        <activity android:name=".DrawerProfileActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".PlayGameActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NetworkStateChangeReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />
        <service
            android:name=".utils.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>