<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdapss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="in.rdapss.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="in.rdapss.NewJodi"></activity>
        <activity android:name="in.rdapss.NewSingleDigit" />
        <activity android:name="in.rdapss.NewGameActivity" />
        <activity android:name="in.rdapss.ProfileActivity" />
        <activity android:name="in.rdapss.DemoActivity" />
        <activity android:name="in.rdapss.Withdraw_history" />
        <activity android:name="in.rdapss.MainActivity" />
        <activity android:name="in.rdapss.Starline_Activity" />
        <activity android:name="in.rdapss.Fund_RequestActivity" />
        <activity android:name="in.rdapss.FundsActivity" />
        <activity android:name="in.rdapss.BidActivity" />
        <activity android:name="in.rdapss.WithdrawalActivity" />
        <activity android:name="in.rdapss.RequestActivity" />
        <activity android:name="in.rdapss.UploadScreenshotActivity" />
        <activity android:name="in.rdapss.CyclePana" />
        <activity android:name="in.rdapss.VerificationActivity" />
        <activity android:name="in.rdapss.UpdatePasswordActivity" />
        <activity
            android:name="in.rdapss.TriplePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="in.rdapss.DoublePanaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="in.rdapss.FullSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="in.rdapss.HalfSangamActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity
            android:name="in.rdapss.SinglePannaActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize|adjustPan" />
        <activity android:name="in.rdapss.RegisterActivity" />
        <activity android:name="in.rdapss.DrawerNoticeBoardActivity" />
        <activity android:name="in.rdapss.DrawerGameRates" />
        <activity android:name="in.rdapss.DrawerHowToPlayActivity" />
        <activity android:name="in.rdapss.DrawerProfileActivity" />
        <activity android:name="in.rdapss.NotificationActivity" />
        <activity android:name="in.rdapss.PlayGameActivity" />
        <activity
            android:name="in.rdapss.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="in.rdapss.splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="in.rdapss.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="in.rdapss.NetworkStateChangeReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />
        <service
            android:name="in.rdapss.utils.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>